services:
  postgres:
    container_name: postgres
    image: postgres:latest
    ports:
      - 5555:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: headhunter

  app:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3001:3000
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/headhunter?sslmode=disable
      LOG_LEVEL: 0
      LOG_OUTPUT: stdout
      LOG_FORMAT: text
