services:
  postgres:
    container_name: postgres
    image: postgres:latest
    ports:
      - 5555:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: headhunter
