package components

css titleClass() {
	color: { "#FFFFFF"};
	font-size: { "70px"};
	font-width: { "bold"};
	margin-bottom: { "12px"};
	margin-top: { "0px"};
}

templ Title(title string) {
	<h1 class={titleClass()}>{title}</h1>
}