package views

import "github.com/maraqja/go-fiber-templ-htmx_headhunter/views/components"
import "github.com/maraqja/go-fiber-templ-htmx_headhunter/views/layout"

templ Main() {
	@layout.Layout(layout.LayoutProps{
		Title: "Headhunter",
		Description: "Headhunter",
	}) {
		<main>
			@layout.Header() {
				@components.Title( "Найди работы своей мечты")
				@components.SubTitle( "Простой поиск работы")
			}
			Main
		</main>
	}

}