<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{ .Message }} - сгенерировано с помощью Go templates
    <br />

    {{ if .IsAdmin}}
    <p>Вы админ</p>
    {{ else }}
    <p>Вы не админ</p>
    {{ end }}
    <br />

    {{ if eq .Count 0 }}
    <p>Нет данных</p>
    {{ else if lt .Count 10 }}
    <p>Меньше 10</p>
    {{ else if gt .Count 10 }}
    <p>Больше 10</p>
    {{ else }}
    <p>Равно 10</p>
    {{ end }}
    <br />

    {{ if and .IsAdmin .CanUse }}
    <p>Вы админ и можете использовать эту функцию</p>
    {{ end }}
  </body>
</html>
