package layout


css headerClass(percent int) {
	background: { "#222222"};
	text-align: { "center"};
}

templ Header() {
	<div class={headerClass(50)}>
		@Menu()
		 { children... } // То что будет обернуто в тег Header будет помещено сюда
	</div>	
}