package layout


type LayoutProps struct {
	Title string
	Description string
}

templ Layout(props LayoutProps) {
		<!DOCTYPE html>
		<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>{props.Title}</title>
			<meta name="description" content={props.Description}>
			<link rel="stylesheet" href="/static/styles.css">
		</head>
		<body>
			{ children... }
		</body>
		</html>

}